*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height:100%;
    background-color: rgb(26, 26, 26);
    font-family: fantasy;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    color:#077bff;
    margin: 2rem;
    font-size: 36px;
}

h1 span{
    color: #fff;
}

.add-container{
    display: flex;
    justify-content: center;
}

.add-item{
    width:350px;
    height:40px;
    border-radius: 25px;
    margin-bottom: 1rem;
    padding-left: 1rem;
    border: none;
}

.add-item:hover{
    width:360px;
}

.add-item:focus{
    border: 2px solid #0077ff;
    width:360px;
}
    
.add-item-button{
    position: relative;
    width:40px;
    height:40px;
    border-radius:50%;
    margin-left: .5rem ;
    border: none;
    background-color: #077bff;
    box-shadow: inset -1px -5px 1px #034a9b;
    cursor: pointer;
}

.add-item-button::before,.add-item-button::after{
    content: '';
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:2px;
    height:15px;
    background-color: #fff;
    border-radius: 3px;
}

.add-item-button::after{
    width:15px;
    height:2px;
}

.add-item-button:hover{
    background-color: #0077ffcb;
    box-shadow: inset 1px 5px 1px #034a9b;
}

.add-item-button:hover:active::before, .add-item-button:hover:active::after{
    top:52%;
}

.add-item-button:active{
    box-shadow: inset 1px 6px 2px #034a9b;
}

.item-container{
    border-bottom: 2px solid #fff;
    width:370px;
    margin-top: 1rem;
}

.item{
    background: none;
    border: none;
    color: inherit;
    padding-left: .5rem;
    font-size: 20px;
    width:70%;
}

.edit-button , .remove-button{
    background: none;
    border:none;
    font-size:17px;
    cursor: pointer;
}

.edit-button{
    color:#00ff0d;
    padding: 0 .5rem;
}

.remove-button{
    color:#ff0404;
}

@media (max-width:500px){
    .add-item{
        width:80vw;
    }

}

